<nav class="navbar navbar-dark bg-dark justify-content-center mt-auto">
    <span class="navbar-text">
        2020 - Coded by <a href="https://github.com/nonowelle">Marie-Ève Noël</a> - Based on Colt Steele YelpCamp
        Project
    </span>
</nav>