<footer class="footer bg-dark mt-auto py-3 foot">
    <div class="container text-center">
        <span class="text-muted ">2020 - Coded by <a class="text-light" href="https://github.com/nonowelle">Marie-Ève
                Noël</a><br> Based on
            Colt Steele YelpCamp
            Project</span>
    </div>
</footer>