<% layout('layout/boilerplate') -%>


<div class-="container my-5">
    <div class="jumbotron">
        <div class="container">
            <h1 class="text-success"> Crazy about plants?<br> <span id="homeSpan">Planties </span>is for you.</h1>

            <p class="lead">Start your collection today with Planties: an easy way to keep track of your plants changes
                and needs!</p>
            <hr class="my-4">

            <a href="/register"><button type="button" class="btn btn-success btn-lg mr-2"> Register <svg width=" 1.8em"
                        height="1.8em" viewBox="0 0 16 16" class="bi bi-arrow-right-circle px-2" fill="currentColor"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                        <path fill-rule="evenodd"
                            d="M4 8a.5.5 0 0 0 .5.5h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5A.5.5 0 0 0 4 8z" />
                    </svg></button></a>


        </div>





    </div>
</div>



<div class="container my-5" id="pres">

    <div class="row my-5" id="topRow">
        <div class="col-md-4">
            <svg width="5em" height="5em" viewBox="0 0 16 16" class="bi bi-droplet text-success" fill="currentColor"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                    d="M7.21.8C7.69.295 8 0 8 0c.109.363.234.708.371 1.038.812 1.946 2.073 3.35 3.197 4.6C12.878 7.096 14 8.345 14 10a6 6 0 0 1-12 0C2 6.668 5.58 2.517 7.21.8zm.413 1.021A31.25 31.25 0 0 0 5.794 3.99c-.726.95-1.436 2.008-1.96 3.07C3.304 8.133 3 9.138 3 10a5 5 0 0 0 10 0c0-1.201-.796-2.157-2.181-3.7l-.03-.032C9.75 5.11 8.5 3.72 7.623 1.82z" />
                <path fill-rule="evenodd"
                    d="M4.553 7.776c.82-1.641 1.717-2.753 2.093-3.13l.708.708c-.29.29-1.128 1.311-1.907 2.87l-.894-.448z" />
            </svg>

            <p class="my-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis, veniam ipsa hic
                praesentium
                veritatis
                cumque
                vero! Eligendi ex quam temporibus non dolorem delectus at perferendis vel neque, repellendus commodi
                voluptatem!
            </p>
        </div>

        <div class="col-md-4">
            <svg width="5em" height="5em" viewBox="0 0 16 16" class="bi bi-sun text-success" fill="currentColor"
                xmlns="http://www.w3.org/2000/svg">
                <path d="M3.5 8a4.5 4.5 0 1 1 9 0 4.5 4.5 0 0 1-9 0z" />
                <path fill-rule="evenodd"
                    d="M8.202.28a.25.25 0 0 0-.404 0l-.91 1.255a.25.25 0 0 1-.334.067L5.232.79a.25.25 0 0 0-.374.155l-.36 1.508a.25.25 0 0 1-.282.19l-1.532-.245a.25.25 0 0 0-.286.286l.244 1.532a.25.25 0 0 1-.189.282l-1.509.36a.25.25 0 0 0-.154.374l.812 1.322a.25.25 0 0 1-.067.333l-1.256.91a.25.25 0 0 0 0 .405l1.256.91a.25.25 0 0 1 .067.334L.79 10.768a.25.25 0 0 0 .154.374l1.51.36a.25.25 0 0 1 .188.282l-.244 1.532a.25.25 0 0 0 .286.286l1.532-.244a.25.25 0 0 1 .282.189l.36 1.508a.25.25 0 0 0 .374.155l1.322-.812a.25.25 0 0 1 .333.067l.91 1.256a.25.25 0 0 0 .405 0l.91-1.256a.25.25 0 0 1 .334-.067l1.322.812a.25.25 0 0 0 .374-.155l.36-1.508a.25.25 0 0 1 .282-.19l1.532.245a.25.25 0 0 0 .286-.286l-.244-1.532a.25.25 0 0 1 .189-.282l1.508-.36a.25.25 0 0 0 .155-.374l-.812-1.322a.25.25 0 0 1 .067-.333l1.256-.91a.25.25 0 0 0 0-.405l-1.256-.91a.25.25 0 0 1-.067-.334l.812-1.322a.25.25 0 0 0-.155-.374l-1.508-.36a.25.25 0 0 1-.19-.282l.245-1.532a.25.25 0 0 0-.286-.286l-1.532.244a.25.25 0 0 1-.282-.189l-.36-1.508a.25.25 0 0 0-.374-.155l-1.322.812a.25.25 0 0 1-.333-.067L8.203.28zM8 2.5a5.5 5.5 0 1 0 0 11 5.5 5.5 0 0 0 0-11z" />
            </svg>
            <p class="my-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis, veniam ipsa hic
                praesentium
                veritatis
                cumque
                vero! Eligendi ex quam temporibus non dolorem delectus at perferendis vel neque, repellendus commodi
                voluptatem!
            </p>
        </div>

        <div class="col-md-4">
            <svg width="5em" height="5em" viewBox="0 0 16 16" class="bi bi-camera text-success" fill="currentColor"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                    d="M15 12V6a1 1 0 0 0-1-1h-1.172a3 3 0 0 1-2.12-.879l-.83-.828A1 1 0 0 0 9.173 3H6.828a1 1 0 0 0-.707.293l-.828.828A3 3 0 0 1 3.172 5H2a1 1 0 0 0-1 1v6a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1zM2 4a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2h-1.172a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 9.172 2H6.828a2 2 0 0 0-1.414.586l-.828.828A2 2 0 0 1 3.172 4H2z" />
                <path fill-rule="evenodd"
                    d="M8 11a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5zm0 1a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z" />
                <path d="M3 6.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0z" />
            </svg>
            <p class="my-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis, veniam ipsa hic
                praesentium
                veritatis
                cumque
                vero! Eligendi ex quam temporibus non dolorem delectus at perferendis vel neque, repellendus commodi
                voluptatem!
            </p>
        </div>

    </div>







</div>