body{
    padding: 0;
    margin: 0;
    position: relative;
}

h1{
    font-size: 4rem;
    padding: 8rem 0 2rem 0;
}

li {
    color: black;
    list-style: none;
}

ul {
    padding: 0;
    margin: 0;
}
main {
    padding-bottom: 75px;
}

.page-container{
    min-height: 100%;
   
}

.foot{
    position: absolute;
    bottom: 0;
    width:100%;
    height : 75px;
    font-size: 0.9rem;
}

.img-thumbnail{
    width: 300px;
}

#addImg {
    height: 200px;
    width: auto;
}

#notfound{
background-image: url("./bg-plant.jpg");
background-size: cover;
background-repeat: repeat;
background-position: center;

}
/* //À MODIFIER DANS LA HOME PAGE */
#homeSpan {
    color: #003D00;
}


#pres{
    text-align: center;
}


#plant {
    padding: 0 1.3rem;
}

#topRow{
    padding-top: 4rem;
}

#row-col{
    height: 90%;
}




