h1{
    font-size: 4rem;
    padding: 8rem 0 2rem 0;

}



li {
    color: black;
    list-style: none;
}

ul {
    padding: 0;
    margin: 0;
}

#addImg {
    height: 200px;
    width: auto;
}

#notfound{
background-image: url("./bg-plant.jpg");
background-size: cover;
background-repeat: repeat;
background-position: center;

}
/* //À MODIFIER DANS LA HOME PAGE */
#homeSpan {
    color: #003D00;
}


#pres{
    text-align: center;
}


#plant {
    padding: 0 1.3rem;
}

#topRow{
    padding-top: 4rem;
}

#row-col{
    height: 90%;
}

.img-thumbnail{
    width: 300px;
}



